.Rproj.user/31943A17/sdb/prop/7E4F173B
.Rproj.user/31943A17/sdb/prop/FDE626CD
.Rproj.user/31943A17/sdb/prop/INDEX
.Rproj.user/31943A17/sdb/s-C41C5102/AF9291AA
.Rproj.user/31943A17/sdb/s-C41C5102/lock_file
.Rproj.user/*
ExData_Plotting1.Rproj